@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    margin: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: lightgreen;
}

.logo-container {
    cursor: pointer;
}

.logo {
    width: 120px;
    height: 100%;
    display: block;
}

.nav-items ul {
    list-style-type: none;
}

.nav-items ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.login-btn{
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
}

.link {
    text-decoration: none;
    color: black;
}

.body-container {
    border: 1px solid black;
    background-color: #a5a4a4;
    min-height: 50vh;
    margin-top: 5px;
}


.filter {
    background-color: rgb(93,93,93);
    display: flex;
    margin: 5px;
    padding: 5px;
    height: auto;
    width: calc(100%-10px);
    flex-wrap: wrap;
}


.filter input, .filter button {
    background-color: white;
    font-size: 1.3rem;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

.filter button {
    padding: 5px;
    cursor: pointer;
}

.filter button:hover {
    background-color: #333;
    color: whitesmoke;
}

.restaurant-container {
    /* margin: 10px 0;
    display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,200px), 1fr));
}

.link-card {
    margin: 10px;
    width: 200px;
}

.res-card {
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
    background-color: rgb(54, 54, 54);
    color: white;
}

.card-img {
    width: 100%;
    height: 50%;
    border: 1px solid black;
    border-radius: 10px;
}

.card-details {
    display: contents;
    line-height: 1.5;
}

.card-details p {
    font-weight: 500;
}

.shimmer-card {
    width: 200px;
    height: 350px;
    padding: 5px;
    margin: 10px;
    background-color: white;
    background-image: url("../img/shimmer.gif");
    background-size: 150px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}


.errorPage {
    width: 500px;
    height: 500px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 50px auto;
    text-align: center;
}

.errorPage .errorImg {
    width: 100%;
    height: 80%;
    border: 2px solid white;
}

.errorImg img {
    width: 100%;
    height: 100%;
}

.footer-container {
    background-color: lightgray;
    margin-top: 5px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

.footer-logo {
    width: 100%;
    height: 120px;
    display: block;
    border-radius: 10px;
    margin: 5px;
}

.company h4 {
    font-weight: 600;
}

.company {
    line-height: 1.5;
}

.company ul {
    list-style-type: none;
    color: #333;
    cursor: pointer;
}